<?xml version="1.0" encoding="utf-8"?>
<!--
MIT License
Copyright (c) 2008-2018 Peter van der Woude
https://github.com/PandaWood/ExceptionReporter.NET
-->
<packages>
  <package id="NuGet.Build.Packaging" version="0.2.2" targetFramework="net40" developmentDependency="true" />
  <package id="Simple-MAPI.NET" version="1.1.0" targetFramework="net40" />
</packages>