<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net20" />
  <package id="NuGet.Build.Packaging" version="0.1.248" targetFramework="net40-client" developmentDependency="true" />
  <package id="Simple-MAPI.NET" version="1.0.1" targetFramework="net40-client" />
</packages>