<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Exception Report</title>
</head>

<body>
	<div class="header">
		<h1> Exception Report </h1>				 
	</div>

	<div class="content">		
		<div>	<label for="app-name"> Application: </label> <input id="app-name" readonly value="{{App.Name}}"> </div>
		<div>	<label for="region"> Region: </label> <input id="region" readonly value="{{App.Region}}"> </div>
		<div>	<label for="version"> Version: </label> <input id="version" readonly value="{{App.Version}}"> </div>
{{#if App.User}}
		<div>	<label for="user"> User: </label> <input id="user" readonly value="{{App.User}}"> </div>
{{/if}}			
		<div>	<label for="date"> Date: </label> <input id="date" readonly value="{{Error.Date}}"> </div>
		<div>	<label for="time"> Time: </label> <input id="time" readonly value="{{Error.Time}}"> </div>
{{#if Error.Explanation}}
		<div>	<label for="explanation"> User Explanation: </label> <input id="explanation" readonly value="{{Error.Explanation}}"> </div>
{{/if}}	
		
		<div class="error-message">
			<label for="error-message"> Error Message: </label> <input id="error-message" readonly value="{{Error.Message}}"> </div>
		</div>

		<div class="stack-trace">
			<label for="stack-trace"> Stack Trace: </label> 
			<textarea id="stack-trace" readonly> {{Error.FullStackTrace}} </textarea> 
		</div>

		<div class="assembly-refs">
			<h2> Assembly References </h2>
			<ul>
			{{#App.AssemblyRefs}}
				<li> {{Name}}, Version={{Version}} </li>
			{{/App.AssemblyRefs}}
			</ul>
		</div>

		<div class="system-info">
			<h2> System Information </h2>
			<div class="info-string"> {{SystemInfo}} </div>
		</div>
</body>
</html>