<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Database Timeout" value="30"/>
		<add key="Operation Mode" value="1"/>
		<add key="Backup Server" value="MyServer"/>
		<add key="SLS_ER_CONTACT_EMAIL" value="mysupport@zzzsupport.com"/>
		<add key="SLS_ER_CONTACT_WEB" value="www.zzzsupport.com"/>
		<add key="SLS_ER_CONTACT_PHONE" value="1423 1234 4321"/>
		<add key="SLS_ER_CONTACT_FAX" value="1423 1234 4322"/>
		<add key="SLS_ER_SERIAL_NUMBER" value="XXXX-XXXX-XXXX-XXXX"/>
		<add key="SLS_ENUMERATE_PRINTERS" value="N"/>
	</appSettings>
</configuration>