<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Database Timeout" value="30"/>
		<add key="Backup Server" value="TheBackup01"/>
		<add key="ER_CONTACT_EMAIL" value="mysupport@zzzsupport.com"/>
		<add key="ER_CONTACT_WEB" value="www.codeplex.com/ExceptionReporter"/>
		<add key="ER_CONTACT_PHONE" value="1423 1234 4321"/>
		<add key="ER_CONTACT_FAX" value="1423 1234 4322"/>
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
