<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="DummyDatabaseConnectionString" value="tiger@db.localhost:2227"/>
	</appSettings>
	
	<configSections>
		<sectionGroup name="ExceptionReporter">
			<section name="Contact" type="System.Configuration.NameValueSectionHandler"/>
			<section name="TabsToShow" type="System.Configuration.NameValueSectionHandler"/>
			<section name="Email" type="System.Configuration.NameValueSectionHandler"/>
			<section name="LabelMessages" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>

	<ExceptionReporter>
		<Contact>
			<add key="email" value="mysupport@zzzsupport.com"/>
			<add key="web" value="www.codeplex.com/ExceptionReporter"/>
			<add key="phone" value="1423 1234 4321"/>
			<add key="fax" value="1423 1234 4322"/>
		</Contact>
		<TabsToShow>
			<add key="exceptions" value="true"/>
			<add key="assemblies" value="true"/>
			<add key="config" value="true"/>
			<add key="system" value="true"/>
			<add key="contact" value="true"/>
		</TabsToShow>
		<Email>
			<add key="method" value="MAPI"/>
			<add key="SmtpServer" value="smtpserver.server.au"/>
			<add key="SmtpUsername" value="bob"/>
			<add key="SmtpPassword" value="password"/>
			<add key="from" value="from@from.com"/>
			<add key="to" value="to@to.com"/>
		</Email>
		<LabelMessages>
			<add key="general" value="An exception has occured - you can send details to the programmer"/>
			<add key="explanation" value="Please enter a short description of what happened"/>
			<add key="contact_top" value="The numbers below may be used to contact support for this software"/>
			<add key="contact_bottom" value="Some bottom message"/>
		</LabelMessages>
	</ExceptionReporter>

	<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
