<?xml version="1.0" encoding="utf-8"?>
<!--
MIT License
Copyright (c) 2008-2018 Peter van der Woude
https://github.com/PandaWood/ExceptionReporter.NET
-->
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
	</appSettings>

</configuration>
